.container {
  position: relative;
  display: inline-block;
}

.icon {
  cursor: pointer;
  width: 36px;
  height: 36px;
  flex: 0;
}

.dropdown {
  position: absolute;
  right: 0%;
  background-color: #d9d9d9;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  width: 115px;
}

.dropdown button {
  width: 100%;
  padding: 10px;
  border: none;
  background: none;
  font-family: Inter;
  font-size: 12px;
  font-weight: 400;
  line-height: 14.52px;
  text-align: center;
}

.hidden {
  visibility: hidden;
  pointer-events: none;
}
